////////////////////////BANNER BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.banner {
  position: relative;

  .banner-inner {
    display: flex;
  }

  .main-part {
    background: url("../../public/images/banner.png") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-basis: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 155px 0 82px 0;

    .caption {
      font-family: $font_text;
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 178.18%;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      border-left: solid 6px #C60C38;
      padding-left: 12px;
      margin-bottom: 27px;
      margin-left: 53px;
      span {
        display: block;
      }
    }

    .title {
      font-family: $font_text;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 178.18%;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      margin-bottom: 55px;
      margin-left: 69px;
    }

    .button {
      margin-left: 69px;
      margin-bottom: 42px;
      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 10px 27px;
        background: #C60C38;
        border-radius: 0;
        border: 4px solid #C60C38;
        &:hover {
          background: #fff;
          color: #333333;
        }
      }
    }

    .circles {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }

    .item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .circle {
        height: 130px;
        width: 130px;
        background: #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          max-height: 75px;
          max-width: 75px;
        }
      }

      .text {
        font-family: $font_text;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 151.5%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 17px;
        max-width: 125px;
      }
    }
  }

  .sub-part {
    min-height: 100vh;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    background: #6FAADD;
    justify-content: center;
    padding-left: 47px;

    .item {
      display: flex;
      align-items: center;

      .icon {
        max-height: 53px;
        max-width: 53px;
      }

      span {
        font-family: $font_text;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 178.18%;
        max-width: 262px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-left: 25px;
      }
    }

    .middle {
      margin: 83px 0;
    }
  }

  ///media

  @media (max-width: 991px) {
    .banner-inner {
      flex-direction: column;
    }
    .main-part, .sub-part{
      flex-basis: 100%;
    }

    .sub-part {
      display: none;
      min-height: 100%;
      padding: 50px 0;

      .item{
        justify-content: center;
        span {
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 576px) {

    .main-part  .caption {
     margin-left: 0;
     font-size: 15px;
      padding-left: 10px;
      border-left: solid 4px #C60C38;
      span {
        display: inline;
      }
   }

    .main-part .item .circle {
      height: 74px;
      width: 74px;

      .icon {
        max-height: 43px;
        max-width: 43px;
      }
    }

    .reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    .main-part  .title {
      font-size: 14px;
      margin-bottom: 45px;
    }
    .main-part {
      padding: 90px 0 29px 0;
      justify-content: flex-end;

      .button {
        text-align: center;
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 0;
      }
    }
    .main-part  .title {
      margin-left: 43px;
    }
  }

  @media (max-width: 500px) {
    .main-part  .caption {
      //margin-left: 0;
      //padding-left: 6px;
      //font-size: 24px;
    }
    .main-part  .title, .main-part .button {
      margin-left: 12px;
    }
  }
}
